torch
pandas
numpy
cryptography
whisper
speechbrain
noisereduce
rasa
requests
pymongo
redis
transformers
stable-baselines3
ecdsa
flask
flask-limiter
networkx
snappy
sympy
pygame
python-chess
scikit-learn
python-dotenv
prometheus-client
locust
smtplib
webrtcvad
Pillow
rdflib
aif360
faiss-cpu
python-jwt
pybreaker
