torch
pandas
numpy
cryptography
whisper
speechbrain
noisereduce
rasa
requests
pymongo
redis
transformers
stable-baselines3
ecdsa
flask
flask-limiter>=1.4.0
networkx
snappy
sympy
pygame
python-chess
scikit-learn
python-dotenv
prometheus-client
locust
webrtcvad
Pillow
rdflib
aif360
faiss-cpu
pyjwt
pybreaker
